# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env
*.db
*.sqlite3

# Node
node_modules/
dist/
.vite/
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
.DS_Store

# Misc
*.log
.cache/